.box{
   height: 400px;
   width: 400px;
   background-color: beige;
   border: 2px solid black;
   display:flex; 
   justify-content: center;
   align-items: center;
   margin: auto;
}
p{
    font-size: 37px;
   
}
.item{
    display: flex;
    justify-content: space-between;
}